<ngx-alert></ngx-alert>

<div class="col-xs-20">
    <div class="row">
        <span class="title-page">CREATION EMPLOYE</span>
      </div>
  <div class="btn-group" role="group" aria-label="...">
    <button class="btn btn-primary" (click)="enregistrer()" type="button">
      <span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Enregister</button>
    <button class="btn btn-default" (click)="vider()" type="button">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Vider les champs</button>
    <button class="btn btn-default" (click)="retourListe()" type="button">
      <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> Retour</button>
  </div>
  <br />
  <ol class="breadcrumb">
    <li>Employé</li>
    <li class="active"> Création</li>
  </ol>
  <div class="row">

    <!-- creation des articles  -->
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <!--    <div class="ibox-title text-center m-t-lg">
          <h2>Création d'article</h2>
          <small>Vous êtes ici pour créer un article</small>
        </div> -->

        <div class="ibox-content">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">Actif</label>
              <div class="col-sm-1">
                <input type="checkbox" [(ngModel)]="employe.actif" name="actif">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nom
                <span style="color : red">*</span>
              </label>
              <div class="col-sm-3">
                <input type="text" [(ngModel)]="employe.nom" class="form-control" name="nom" required>

              </div>
              <label class="col-sm-2 control-label">Prénom
                <span style="color : red">*</span>
              </label>
              <div class="col-sm-3">
                <input type="text" [(ngModel)]="employe.prenom" class="form-control" name="prenom" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Date de naissance
                <span style="color : red">*</span>
              </label>
              <div class="col-sm-3">
                  <input type="text" [(ngModel)]="employe.dateNaissance" class="form-control" name="dateNaissance" mask="00/00/0000" required>

                <!-- <div class="input-group">
                  <input type="text" #input1 placeholder="jour" maxlength="2" (input)="onInputEntry($event, input2)" [(ngModel)]="jour" class="form-control"
                    style="width: 30%">
                  <input type="text" #input2 placeholder="mois" maxlength="2" (input)="onInputEntry($event, input3)" [(ngModel)]="mois" class="form-control"
                    style="width: 30%">
                  <input type="text" #input3 placeholder="annee" maxlength="4" [(ngModel)]="annee" class="form-control" style="width: 40%">
                </div> -->
                <!-- <input type="text" [(ngModel)]="stock.dateEntree" class="form-control" name="dateEntree"> -->
              </div>
              <!--  <input type="date" [(ngModel)]="employe.dateNaissance"  class="form-control" name="dateNaissance" required>-->
              <label class="col-sm-2 control-label">Téléphone
                <span style="color : red">*</span>
              </label>
              <div class="col-sm-3">
                <input type="text" [(ngModel)]="employe.telephone" class="form-control" name="telephone" mask="00 000 00 00" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Adresse
                <span style="color : red">*</span>
              </label>
              <div class="col-sm-3">
                <input type="text" [(ngModel)]="employe.adresse" class="form-control" name="adresse" required>
              </div>
              <label class="col-sm-2 control-label">Profil
                <span style="color : red">*</span>
              </label>
              <div class="col-sm-3">
                <select class="form-control m-b" [(ngModel)]="employe.profil">
                  <option value="admin">Admin</option>
                  <option value="superviseur">Superviseur</option>
                  <option value="vendeur">Vendeur</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Email</label>
              <div class="col-sm-3">
                <input type="text" [(ngModel)]="employe.email" class="form-control" name="email" required>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
