<button type="button" class="clavierButton" (click)="changeQte(1)" value="1">1</button>

<button (click)="changeQte(2)" class="clavierButton">2</button>
<button (click)="changeQte(3)" class="clavierButton" >3</button>
<br />
<button (click)="changeQte(4)" class="clavierButton">4</button>
<button (click)="changeQte(5)" class="clavierButton">5</button>
<button (click)="changeQte(6)" class="clavierButton">6</button>
<br />
<button (click)="changeQte(7)" class="clavierButton">7</button>
<button (click)="changeQte(8)" class="clavierButton">8</button>
<button (click)="changeQte(9)" class="clavierButton">9</button>
<br />
<button (click)="changeQte(0)" class="clavierButton">0</button>
<button (click)="changeQte('del')" style="width: 310px" class="clavierButton">SUPP</button>
